<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
   <!-- 설정 -->
  <!--  <display-name>pro05</display-name>-->
  <servlet> <!-- 서블릿을 등록(자바프로그램 등록) -->
  <servlet-name>FirstServlet</servlet-name>
  <servlet-class>pro05.ex01.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping><!-- 외부와 연동 -->
  	<servlet-name>FirstServlet</servlet-name><!-- 연동할 클래스 -->
  	<url-pattern>/First</url-pattern><!-- 외부접속방식 -->
  </servlet-mapping>
   <!-- webapp로 접속할 때 필요한 파일 -->
   <!--webapp에 아래파일이 존재하면 그 파일을 시작파일로 사용-->
  <welcome-file-list>
  <!--  <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>-->
  </welcome-file-list>
</web-app>